body {
	margin: 0;
	padding: 0;
}

#search, #card {
	position: absolute;
}
#search{

}
#search-form{

}
#search-results{

}
#card{

}
#card-views{

}
#card-thumbnail{


}
#card-preview{

}
#card-additional{

}
#card-toolbar{

}
#card-toolbar-primary{

}
#card-toolbar-secondary{

}